body{
    background-color: #202020;
    font-family: 'Montserrat', sans-serif;
}

.header_nav li a{
    color:#FFFFFF;
    font-size: 15px;
    font-weight: 400;
}

.header_nav li a:hover{
    color:#F50D32;
}

.header{

    padding: 24px 0px;
}

.banner{
    padding-top: 50px;
    position: relative;
}

.banner_pattern{
    position: absolute;
    left:-20px;
    top: 80px;
}

.banner_content{
    padding-right: 110px;
}


.banner_content h4{
    font-size: 20px;
    font-weight: 500;
    color:#F50D32;
}

.banner_content h1{
    font-size: 44px;
    font-weight: 700;
    color:#ffffff;
    margin-top: 20px;
}

.banner_content p{
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
    margin-top: 30px;
    margin-bottom: 55px;
}

.banner_content a{
    padding: 18px 42px;
    background-color: #F50D32;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    color: #ffffff;

}

.banner_img img{
    box-shadow: -25px 25px 0px #2E2E30;
}

.banner_img{
    position: relative;
}

.banner_boll{
    position: absolute;
    right: -50px;
    z-index: -1;
    top:-30px;
}

.service{
    /* background-color: orange; */
    margin-top: 120px;
    position: relative;
}

.service_circle{
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.service_nimchip{
    position: absolute;
    bottom: 270px;
    left: 140px;
}

.service_heading h2{
    font-size: 34px;
    font-weight: 600;
    color:#ffffff;
}

.service_heading hr{
    width:100px;
    height: 5px;
    background-color: #F50D32;
}

.service_heading p{
    font-size: 16px;
    color: #ffffff;
    font-weight: 400;
    line-height: 28px;
}

.service_item{
    margin-bottom: 45px;
}

.service_item i{
    font-size: 30px;
    color: #ffffff;
    background-color: #F50D32;
    padding: 15px;
    border-radius: 50%;
}

.service_item h3{
    font-size: 23;
    font-weight: 500;
    color: #ffffff;
    margin-top: 32px;
}

.service_item p{
    font-size: 16px;
    color: #ffffff;
    font-weight: 400;
    line-height: 28px;
    margin-top: 18px;
}

.service_item a{
    font-size: 16px;
    color: #ffffff;
    font-weight: 400;
    text-decoration: none;
}

.service_item a i{
    background-color: transparent;
    font-size: 24px;
}

.skill{
    /* background-color: orange; */
     margin-top: 120px;
}

.skill_heading{
    text-align: center;
}

.skill_heading h2{
    font-size: 34px;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 30px;
}

.skill_heading hr{
    background-color: red;
    width: 100px;
    height: 5px;
    margin: 0px auto;
}

.skill_heading p{
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    line-height: 28px;
    margin-top: 30px;
}

.service_item_box_row{
    margin-top: 70px;
}

.service_item_box{
    text-align: center;
    border: 3px solid #2E2E30;
    padding: 40px 40px;
}

.service_item_box h4{
    color:#F50D32;
    font-size: 16px;
    font-weight: 400;
    
}

.service_item_box h3{
    font-size: 22px;
    font-weight: 500;
    color: #ffffff;
    margin-top: 16px;
}

.service_item_box p{
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    margin-top: 24px;
    line-height: 28px;
}

.progress{
    background-color: #343434;
}

.custom_bar{
    background-color: #F50D32;
}

.service_item_bar{
    margin-top: 60px;
}

.pro_bar{
    margin-top: 30px;
}

.pro_bar h3{
    color:#ffffff;
}


.pricing{
    /* background-color: orange; */
    margin-top: 120px;
}
.pricing_heading{
    text-align: center;
}

.pricing_heading h2{
    font-size: 34px;
    font-weight: 600;
    color: #ffffff;
}

.pricing_underline{
    width: 100px;
    height: 4px;
    background-color: #F50D32;
    margin: 0px auto;

    margin-top: 20px;
    margin-bottom: 20px;
}

.pricing_heading p{
    color:#ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.pricing_item{
    text-align: center;
    border: 3px solid #2E2E30;
    padding: 50px 45px;
}

.pricing_item h3{
    font-size: 20px;
    color:#ffffff;
    font-weight: 500;
}

.pricing_item i{
    font-size: 40px;
    padding: 20px;
    background-color: #F50D32;
    color: #ffffff;
    border-radius: 50%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.pricing_item h4{
    font-size: 44px;
    font-weight: 700;
    color: #ffffff;
}

.pricing_item ul li i{
    font-size: 24px;
    padding: 3px;
    color: #202020;
    background-color: #ffffff;
    margin-right: 20px;

}
.pricing_item ul li{
    color: #ffffff;
}

.pricing_item a{
    padding: 10px 29px;
    font-size: 16px;
    color: #ffffff;
    font-weight: 400;
    text-decoration: none;
    border: 1px solid #ffffff;
    border-radius: 4px;
}

.pricing_item a i{
    background-color: transparent;
    font-size: 24px;
    
}

.price_item_row{
    margin-top: 50px;
}

.work{
    /* background-color: orange; */
    margin-top: 120px;
}

.work_heading{
    text-align: center;
}

.work_heading h2{
    font-size: 34px;
    font-weight: 600;
    color: #ffffff;
}

.work_underline{
    width: 100px;
    height: 4px;
    background-color: #F50D32;
    margin:0px auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.work_heading p{
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    line-height: 28px;
}

.work_item_row{
    margin-top: 60px;
}

.work_item{
    padding-right: 110px;
}

.work_item h3{
    font-size: 30px;
    font-weight: 500;
    color: #ffffff;
    line-height: 44px;
}
.work_item p{
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    line-height: 28px;
}

.work_item a{
    color:#F50D32;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
}

.test{
    /* background-color: orange; */
    margin-top: 120px;
}
.test_heading{
    text-align: center;
}

.test_heading h2{
    font-size: 34px;
    font-weight: 600;
    color: #ffffff;
}

.test_underline{
    width: 100px;
    height: 4px;
    background-color: #F50D32;
    margin:0px auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.test_heading p{
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    line-height: 28px;
}

.test_item_row{
    margin-top: 70px;
}

.test_item{
    padding: 40px 38px;
    background-color: #2E2E30;
    text-align: center;
}

.test_item i{
    font-size: 60px;
    color: #F50D32;
}
.test_item p{
    color: #ffffff;
    font-size: 17px;
    font-weight: 400;
    line-height: 28px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.test_item h4{
    font-size: 18px;
    color: #ffffff;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 20px;

}

.test_item h5{
    font-size: 16px;
    color: #ffffff;
    font-weight: 300;
}

.disco{
   
    margin-top: 120px;
}

.disco_container{
    background-color:#2E2E30;
    padding: 75px;
}

.disco_content h3{
    color: #ffffff;
    font-weight: 600;
    font-size: 34px;
}

.disco_button{
    text-align: right;
}

.disco_button a{
    background-color: #F50D32;
    color: #ffffff;
    padding: 18px 42px;
    text-decoration: none;
    border-radius: 4px;
}

.footer{
    margin-top: 120px;
    background-color: #161616;
    padding: 120px 0px;
    text-align: center;
    position: relative;
}

.footer_content{
    color: #ffffff;
}

.footer_img{
    position: absolute;
    bottom: -170px;
    right: 0;
}

.ban_img{
    
}


/* about page css */

.about_banner_boll{
    position: absolute;
    left: -20px;
    z-index: -1;
    top:-30px;
}

.about_page_banner img{
    box-shadow: 25px 25px 0px #2E2E30;
}
.about_page_banner_content{
    padding-left: 120px;
    padding-right: 0px;
}



